@model Abp.Application.Services.Dto.PagedResultDto<Peer2peer.Peering.Dto.PackageWithTicket>
@{
    ViewBag.Title = "Confimred";
}

<div id="page-content-wrapper">
    <div id="page-content">

        <div class="container">

            <div id="page-title">
                <h2>Dashboard: <small>Packages</small></h2>
            </div>
            


        </div>

    </div>
</div>